<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<description>使用Apache CXF的Web Service配置文件</description>

	<!-- jax-ws endpoint定义  -->
	<jaxws:endpoint id="userWebServiceEP"
		implementorClass="com.izhi.web.service.IUserWebService"
		implementor="#userWebService" address="/UserService">
		<jaxws:inInterceptors>
			<bean
				class="org.apache.cxf.binding.soap.saaj.SAAJInInterceptor" />
			<bean
				class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
				<constructor-arg>
					<map>
						<entry key="action" value="UsernameToken" />
						<entry key="passwordType" value="PasswordText" />
						<entry key="passwordCallbackClass"
							value="test.ServerPasswordCallback" />
					</map>
				</constructor-arg>
			</bean>
		</jaxws:inInterceptors>
	</jaxws:endpoint>

	<!-- 设定由slf4j处理cxf中java.util.logging打印的日志 -->
	<bean id="JulOverSlf4j"
		class="org.springside.modules.utils.JulOverSlf4jProcessor"
		lazy-init="false" />
</beans>
